/* 用于center.html 页面 */
*{
	margin:0px;
	padding:0px;
}

html,body{
	height:100%;
	width:100%;
    overflow:hidden;
}

#table1{
	width:100%;
	height:100%;		
}

#table1 img{
	display:block;
}

#table1 , #table1 td{
	border-collapse:collapse;
	border-spacing:0px;
}

#td1{
	width:8px;
	background:#353C44;
}

#td2{
	width:163px;
	height:100%;
}
  
#td3{
	width:10px;
	background:#ADD2DA;
}

#td4{
	height:100%;
}
#td5{
		width:8px;
	  background:#353C44;
}

iframe{
	width:100%;
	height:100%;
	border:0;
	border:none;
	/*实测发现,ie6 的	border:none; 并不能去除iframe的边框,所以在元素上直接用  frameborder="0" 这样的写法了 */
}